@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #E50914;
  --background-color: #333;
  --nav-background-color: #444;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Montserrat", serif;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

nav {
  height: 70px;
  width: 100dvw;
  background-color: var(--nav-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: absolute;
}

.logo {
  height: 60px;
}

form {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
}

.radiobtn {
  display: flex;
  align-items: center;
  gap: 3px;
}

.input-group {
  width: 350px !important;
}

.player {
  width: 1000px;
  height: fit-content;
  justify-content: center;
  align-self: center;
}

.player-body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link.active {
  color: var(--text-color) !important;
}

.nav-link {
  color: var(--primary-color) !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--text-color) !important;
}

.tab-content .tab-pane {
  height: 450px !important;
}

button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
